.HorseDiv{
    position: relative;
    text-align: left;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;

}

.HorseDiv h4{
    bottom: 10px;
}
.HorseDiv img{
    height: 60px;
    width: 60px;
    padding-top: 0px;
}
